#detail-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-title {
  font-size: 2rem;
  font-weight: bold;
}
.detail-img {
  background-image: url("../images/pit-a-pat.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.detailList {
}
