/* 메인 이미지 */
.main-bg-img {width: 100%; height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/main-img.jpg");
    position: relative;}
/* 메인 이미지 살짝 어둡게 */
.main-bg-img::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 50%; height: 100%;
    background-color: rgba(255, 255, 255, 0.4);}
/* 메인 이미지 안 텍스트 컨테이너 */
.section-1-container {
    width: 50%; height: 100%;
    max-width: 1024px; padding: 0 1rem;
    display: flex; flex-direction: column;
    justify-content: center; align-items: end;
    text-align: start;}
/* 글씨 맨 위로 */
.section-1-container .main-text {z-index: 99; font-size: 1.25rem;}
.section-1-container p:nth-child(1) {
    font-size: 2rem; font-weight: bold;}
.section-1-container P:nth-child(3) b {font-size: 2rem;}

@media screen and (max-width: 768px) {

}