/* 섹션-2*/
#section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/main-2-img.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: center;
}
.section-2-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.section-2-main-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.listbox {
  width: 50%;
  display: flex;
  justify-content: center;
}

.section-2-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-2-main-text {
  font-size: 3rem;
  font-family: "yg-jalnan";
}
.section-2-main-text b {
  color: #da6a00;
}
.section-2-list div {
  width: 100%;
}
.section-2-list div a p:nth-child(1) {
  font-size: 2rem;
}
.section-2-list div a p:nth-child(2) {
  font-size: 1.5rem;
}
.section-2-list i {
  color: #ee9b01;
  font-size: 2rem;
}
.section-2-list div {
  margin-bottom: 50px;
}
/* 섹션2-2 */
.section-2-2 {
  height: 80vh;
  background-image: url("../images/section-2-2bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .section-2-main-text p {
    font-size: 2.2rem;
  }
}
