#section-2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.max {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.title-list {
  font-size: 2.5rem;
  font-weight: bold;
}
/* 메인 이미지 */
.main-bg-img2 {
  width: 50%;
  height: calc(100vh - 500px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main.png");
}
/* 메인 이미지 왼쪽 흰색 부분 */
.main-bg-img2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
.listflex {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
/* 메인 컨테이너 */
.section-2-list {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-text2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.main-bg-img2 .section-2-container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.section-2-container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.subtitbe {
  font-size: 1.7rem;
}

@media screen and (max-width: 500px) {
  .main-bg-img2::after {
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
  }
  .section-2-container {
    width: 100%;
    height: 80%;
    align-items: end;
    padding-bottom: 1rem;
  }
}
